body
{
    background-color: aquamarine;
}

h1
{
    color: white;
}

.lista
{
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(212, 67, 91);
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-around;
}

#pink
{
    color: rgb(212, 67, 91);
    list-style: square;
}

ul{
    display: flex;
    flex-direction: column-reverse;
}

